@charset "UTF-08";


body{
    background-color: rgb(31, 31, 31);
}
h1 {
    color: rgb(211, 156, 5);
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: rgb(165, 165, 165);
}
p {
    color: white;
    text-align: justify;
}

a  {
    color: white;

}